@implements IDisposable 

<div class="w3-animate-zoom cell no-select @style">
    @if(char.IsLetter(Letter)) {
        <text>@char.ToUpper(Letter)</text>
    } else {
        <text>&nbsp;</text>
    }
</div>

@code {
    public char Letter {get; private set;}
    public CellState State {get; private set;}
    private string style {
        get {
            return State switch {
                CellState.RightLetterWrongPlace => "almost",
                CellState.RightLetterRightPlace => "correct",
                CellState.WrongLetter           => "wrong",
                _                               => "",
            };
        }
    }
    [CascadingParameter] public Row? Owner {get; set;}

    protected override void OnInitialized() {
        base.OnInitialized();
        Owner?.AddCell(this);
    }

    public void Dispose() {
        Owner?.RemoveCell(this);
    }

    public int CellIndex => Owner?.CellIndex(this) ?? -1;

    public void SetState(CellState state) {
        this.State = state;
        StateHasChanged();
    }

    public void SetLetter(char c) {
        this.Letter = c;
        StateHasChanged();
    }

    public void Reset() {
        this.State = CellState.None;
        this.Letter = default(char);
        StateHasChanged();
    }
}