<h1 class="w3-center no-select">
    <img src="images/name/w1.svg" class="w3-animate-zoom">
    <img src="images/name/o2.svg" class="w3-animate-zoom">
    <img src="images/name/r3.svg" class="w3-animate-zoom">
    <img src="images/name/d4.svg" class="w3-animate-zoom">
    <img src="images/name/l5.svg" class="w3-animate-zoom">
    <img src="images/name/i6.svg" class="w3-animate-zoom">
    <img src="images/name/k7.svg" class="w3-animate-zoom">
    <img src="images/name/e8.svg" class="w3-animate-zoom">
</h1>