<div class="w3-center">
@for (var i = 0; i < letters.Length; i++) {
    var letter = letters[i];
    <button class="w3-button w3-round @(used.Contains(letter) ? "w3-dark-gray" : "w3-gray")" style="margin: 2px;" @onclick=@(() => OnLetterPressed?.Invoke(used.Contains(letter) ? LetterState.Used : LetterState.Unused, char.ToLower(letter)))>@letter</button>
}
</div>

@code {
    private HashSet<char> used = new HashSet<char>();
    private char[] letters = new char[] {
        'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'
    };

    [Parameter] public Action<LetterState, char>? OnLetterPressed {get; set;}

    public void Reset() {
        this.used.Clear();
        StateHasChanged();
    }
    public void MarkUsed(string letters) {
        foreach (var letter in letters) {
            used.Add(char.ToUpper(letter));
        }
        StateHasChanged();
    }
}